/* ** EPITECH PROJECT, 2024
** mockup
** File description:
** forum_frame.css */

.forumFrame {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  border: 1px solid black;
}

.aside-left {
  flex-basis: 33.33%;
  border-right: 1px solid black;
  background-color: #d3d3d3ab;
}

.aside-right {
  flex-basis: 66.66%;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 90%;
  padding: 10px;
  overflow: hidden !important;
  overflow-y: auto !important;
}

section.userInput {
  gap: 10px;
  display: flex;
}

.message_button {
  border: 1px transparent;
  border-radius: 30px;
}

