.my-btn-group-toggle .my-btn {
  background-color: transparent;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
}

.my-btn-group-toggle .my-btn.active {
  background-color: #4CAF50;
  color: white;
}

